.c1{
    background-color: darkblue;
}

.c2{
    background-color: blue;
}

.c3{
    background-color: #b1d1fa;
}

.c4{
    border: 2px solid red;
    box-sizing: border-box;
    background-color: #b1d1fa;
}